# Virtual environment
venv/
.env

# Large raw & processed datasets
*.rar
data/raw/*.csv
data/processed/*
!data/processed/.gitkeep

# Logs & outputs
logs/*
!logs/.gitkeep
output/*
!output/.gitkeep

# Local tests (kept local for now)
tests/*
!tests/.gitkeep
pytest.ini

# System & Python cache
.DS_Store
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/
